body{
    background-color: lightblue;
}

.title{
    height: 60px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 25px;
    font-family: ;
}
.title img{
    height: 30px;
    margin: 15px;
}
.navbar{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 22%;
    background-color: rgb(231, 231, 192);
}
.search-input{
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input input{
    height: 30px;
    width: 280px;
    border: none;
    border-radius: 15px;
}
.search-input select{
    height: 25px;
    margin-right: -66px;
    z-index: 100;
    border: none;
    border-right: 1px solid black;
}
.search-input > img{
    height: 25px;
    margin-left: -35px;
    display: flex;
}
.search-input input::placeholder{
    padding-left: 67px;
}
.Sign-Up{
    background-color:maroon ;
    color: beige;
    border-radius: 20px;
    height: 40px;
    width: 90px;
}
.cart-image{
    height: 35px;
    display: flex;
    margin-left: 40px;
}
.right-part{
    display: flex;
}